@import 'base'

*
    margin: 0
    padding: 0

body
    width: 100%
    font-size: 18px
    font-family: 'Open Sans', sans-serif

header
    width: 70%
    max-width: 1280px
    display: flex
    justify-content: space-evenly
    text-align: center
    align-items: center
    margin-left: auto
    margin-right: auto
    border-bottom: 1px solid #cccccc
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25)
.link
    list-style-type: none

.link:hover
    text-decoration: underline

.icon-shopping-cart
    font-size: 24px

.div-air
    position: relative
    width: 70%
    max-width: 1280px
    margin-left: auto
    margin-right: auto
    
    background: linear-gradient(90deg, rgba(28, 216, 210, 0.9) 0%, rgba(147, 237, 199, 0.9) 100%)
    box-shadow: -1px -1px 4px rgba(0, 0, 0, 0.25), 1px 1px 4px rgba(0, 0, 0, 0.25)

.air-max-98
    font-family: Open Sans
    font-style: normal
    font-weight: bold
    font-size: 150px
    text-align: center
    text-transform: uppercase
    line-height: 300px
    color: #ffffff

.div-air-p
    width: 45%
    margin-left: 20px
    padding-bottom: 65px
    font-size: 24px
    font-weight: bold
    line-height: 33px
    color: #FFFFFF

.img-div-air
    position: absolute
    width: 300px
    top: 144px
    left: 692px

.div-promo
    width: 70% 
    max-width: 1280px
    margin-left: auto
    margin-right: auto
    display: grid
    border: 5px solid #ffffff
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: repeat(1, 300px)

.div-sale
    background-image: url(../img/sale.png)


.div-new-arrivals
    background-image: url(../img/arrivals.png)

.div-coming-son
    background-image: url(../img/son.png)

.div-sale
    @extend %Div
        
.div-new-arrivals
    @extend %Div
    color: #000000
.div-coming-son
    @extend %Div
    